[client]
port   = 3306
socket = /data/mysql/data/mysql.sock

#The MySQL server
#########Basic###########
[mysqld]
server-id = 91101
port = 3306
user = mysql

# bug fix https://github.com/docker-library/mariadb/issues/95
innodb_flush_method=littlesync
innodb_use_native_aio=OFF
log_bin=ON

datadir = /data/mysql/data
tmpdir  = /data/mysql/logs
socket  = /data/mysql/data/mysql.sock
skip-external-locking
skip-name-resolve
#default-storage-engine = INNODB
character-set-server = utf8
wait_timeout = 100
connect_timeout = 3600
interactive_timeout = 3600
back_log = 500
##myisam_recover
myisam-recover-options
event_scheduler = ON

########binlog############
log-bin = /data/mysql/logs
binlog_format = row
max_binlog_size = 128M
binlog_cache_size = 2M
expire_logs_days = 10
max_prepared_stmt_count = 1048576
########replication##########
slave-net-timeout = 10
#rpl_semi_sync_master_enabled = 1
#rpl_semi_sync_master_wait_no_slave = 1
#rpl_semi_sync_master_timeout = 1000
#rpl_semi_sync_slave_enabled = 1
skip-slave-start
log_slave_updates = 1
relay_log_recovery = 1

########slow log############
slow_query_log = 1
slow_query_log_file = /data/mysql/logs/slowquery.log
long_query_time = 2

########error log############
log-error = /data/mysql/logs/error.log


########InnoDB###############
innodb_data_home_dir = /data/mysql/data
innodb_log_group_home_dir = /data/mysql/logs

[mysqldump]
quick
max_allowed_packet = 512M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

